<%= form_with(model: procedure, local: true) do |form| %>
  <% if procedure.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(procedure.errors.count, "error") %> prohibited this procedure from being saved:</h2>

      <ul>
      <% procedure.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :procedure %>
    <%= form.text_field :proc_name, id: :procedure_proc_name %>
  </div>

  <div class="field">
    <%= form.label :procedure_date %>
    <%= form.date_select :proc_date, id: :procedure_proc_date %>
  </div>

  <div class="field">
    <%= form.label :performed_by %>
    <%= form.text_field :performed_by, id: :procedure_performed_by %>
  </div>


  <%= form.hidden_field :patient_id %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
